.appMenu .summary {

	background: url($default-background) no-repeat center;
	background-size: 105%;

	#welcomeMsg p {
		margin-bottom:0; 
		color: white;

	}

	.instrument{
		margin-left:5px;
	}

	.mainContainer {

		padding-left:$financial-main-container-side-padding;
		padding-right:$financial-main-container-side-padding; 
	}

	.sectionTitle {
 
		h3 {
			margin:0;
			font-size:$section-title-font-size;
			color:white;
			font-weight:bold;
		}

		img{
			display:none;
		}
		.totalAmount {
			margin-left:54%;
			font-size:17px;
			position:fixed;
		}


	}

	.ion-forward {
		color: $app-default-button-color;
	}

	.totalAmount {
		padding-right:10%;
		font-size:20px;
		position:fixed;
	}
}