.appMenu .p2pAffiliate {

	background: url($default-background) no-repeat center;
	background-size: 105%;

	.item-icon-left .row, .item-icon-left .col, .item-checkbox .row, .item-checkbox .col,
	.radio-content .row, .radio-content .col{
		padding: 200px;
	}

	.app-input.item-input, input[disabled] {
		background-color: red;
		height: $input-height;
	}

}